.profile_info {
  border: 1px solid var(--black-200);
  border-radius: 12px;
  width: 100%;
  padding: 20px;
}

.id_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.id_label {
  font-size: 14px;
  color: var(--black-950);
  font-weight: bold;
}

.input_id {
  font-size: 16px;
  color: var(--black-950);
}

.line {
  border: 1px solid var(--black-200);
  margin: 20px 0 20px 0;
}
/* 이름 */
.name_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.name_label {
  font-size: 14px;
  color: var(--black-950);
  font-weight: bold;
}
.input_name {
  font-size: 16px;
  color: var(--black-950);
}

/* 연락처 */
.num_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.num_label {
  font-size: 14px;
  color: var(--black-950);
  font-weight: bold;
}
.input_num {
  font-size: 16px;
  color: var(--black-950);
}

.pw_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pw_label,
.new_pw_label,
.pw_check_label {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.input_pw,
.input_new_pw,
.input_pw_check {
  background-color: var(--primary-blue-100);
  border-radius: 6px;
  height: 40px;
  width: 100%;
  padding: 10px;
}

/* 주소 */
.address_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.address_label {
  font-size: 14px;
  color: var(--black-950);
  font-weight: bold;
}
.input_num_address,
.input_address,
.input_detail_address {
  background-color: var(--primary-blue-100);
  border-radius: 6px;
  height: 40px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: var(--black-950);
}

.address_btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn {
  font-size: 13px;
  color: var(--black-950);
  border: 1px solid var(--black-200);
  border-radius: 4px;
  height: 40px;
  width: 110px;
}

.error_message {
  font-size: 12px;
  color: var(--error);
  padding: 5px 0 0 0;
}
